<template name="generate">



<div class="column">
	<h1>Generated</h1>
	<p>+ to save</p>

	<p><a href="#" id="refresh">Refresh</a></p>

	{{#if sessionPrefix}}
		<p>Prefix: {{sessionPrefix}}</p>
	{{/if}}

	{{#if sessionSuffix}}
		<p>Suffix: {{sessionSuffix}}</p>
	{{/if}}

	{{#if sessionIsSet }}
	<p><a href="#" id='randomize'>Clear Constraints</a></p>
	{{/if}}



	<div class="generated">
	{{addNames 20}}
	{{#each sessionList}}
		<a href="#" class="add" data="{{this}}">+</a>
		<!-- <a href="#" class="reject" data="{{this}}">x</a> -->
		{{ capitalize this}}<br/>
	{{/each}}
	</div>
</div>

<div class="column">
	<h1>Saved</h1>
	<p>+ and - to vote</p>

	<p>
	<form class="addTitle">
	<input name="word"/>
	<input type="submit" value="Add"/>
	</form>
	</p>

	<div class="saved">
	{{#each companies}}
		{{> companyName}}
	{{/each}}
	</div>
</div>


</template>

<template name="companyName">

<div class="companyName">
	<span class='buttons'> <a href="#" class="plus">+</a><a href="#" class="minus">-</a></span>  - {{votes}} - <span class='title'>{{{handleCompany name}}}</span><br/>
</div>

</template>

<template name="idea">
	<a href="#" class="add" >+</a>
	<a href="#" class="reject">x</a>
	{{ capitalize this.name}}<br/>	
</template>