
<template name="masterLayout">
<head>
	<title>Name Generator</title>
</head>
<body>
	
	<div class="header">
	Name Generator - 
		<a href="/">Titles</a> - 
		<a href="/lists">Words</a>
	</div>


	{{> yield}}
</body>
</template>
