

<template name="lists">
	<h1>List</h1>

	<div class="column">
	<h3>Prefix</h3>
	
	<div class="word-list">

	<p>
	<form class="addPrefix">
	<input name="word"/>
	<input type="submit" value="Add"/>
	</form>
	</p>

	{{#each prefixes}}
		<a href="#">{{name}}</a>
	{{/each}}
	</div>

	</div>

	<div class="column">
	<h3>Suffix</h3>

	<p>
	<form class="addSuffix">
	<input name="word"/>
	<input type="submit" value="Add"/>
	</form>
	</p>
	
	<div class="word-list">
	{{#each suffixes}}
		<a href="#">{{name}}</a>
	{{/each}}
	</div>

	</div>


	<div class="column">

	<h3>Search Results<span id='searchTerm'></span></h3>

	<div class="result-list">
	</div>

	</div>
</template>
