html,body {
	font-family: monospace;
	background: #eee;
	line-height: 1.5em;
}

a {
	text-decoration: none;
}

.word-list a,
.companyName .buttons a,
.generated a,
.word a,
.header a
{
	background: #fff;
	margin: 4px 1px 10px;
	line-height: 2em;
	padding: 3px 6px 3px;
	border-radius: 5px;
}

.companyName .buttons a,
.generated a {
	padding: 0px 4px 0px;
	line-height: 1.25em;
}

.generated {
	line-height: 1.5em;
}

.companyName .title a:hover {
	text-decoration: underline;
}

.column {
	width: 250px;
	display: inline-block;
	vertical-align: top;
	margin-right: 50px
}